#leftSide.color
  #container
  #home.center.col-sm-8.col-sm-offset-2.col-xs-10.col-xs-offset-1
    .h-content.text-center.top-12
      img.quick.fadeIn.align-.relative.mb30.main-logo(src='img/myavatar.png', alt='logo')
      h4.mid.animated.fadeInUp.fw700.mb20 Hello I'M Elis
      h1.mid.animated.fadeInUp.fw700 Front-End Developer based in Italy
      .mt40.slow.animated.fadeInUp
        //a.mb.btn-solid.round(href='mailto:makebyelisi@gmail.com') Hire me!
        a#info.btn-solid.round(href='#info') PORTFOLIO
        .social_tab.inline.quick.fadeIn
          ul.social_icons
            li
              a(href='https://github.com/elisgjo')
                i.ti-github
            li
              a(href='https://twitter.com/albdev8')
                i.ti-twitter-alt
            li
              a(href='https://instagram.com/alb_dev')
                i.ti-instagram
            li
              a(href='mailto:makebyelisi@gmail.com')
                i.ti-email

            li
              a(href='http://codepen.io/alb_dev')
                i.ion-social-codepen