#rightSide.visible
  .background-img-holder.percent84
    // <h1 class="cleaner">Like clean and faster</h1>
    img(src='../img/back-g.jpg', alt='This is my work')
  #rightContent
    .close-bar
      a.close-icon(href='#info')
        i.menu.ion-close-round
      .share_icons
        ul.color-bg.icon-container
          li.twitter
            a(href='http://twitter.com/albdev8')
              i.ti-twitter-alt
          li.instagram
            a(href='http://instagram.com/alb_dev')
              i.ti-instagram
      h5.follow.mr15.fw600 Follow me 
    .about.mb50.mt50
      p.mb50.mt70 /litle about me
      h2.mb30.fw500.notoSerif.italic
        | "I am a creative freelance front-end developer & designer based in 
        strong Italy
        | ."
      p 
        | My name is Elis. I am passionate about designing and developing user-friendly websites. I have all the skills to create a new high quality website or improve existing websites for individuals and organisations, using the latest techniques and trends. I focus on modern and responsive website solutions that are easy to update by the client. Are you looking for a high quality website for your organisation or company at a competitive price ? 
        a(class="gq" href="mailto:makebyelisi@gmail.com") Get a free quote.
    .skills.mb50.mt50
      h2.mb30.gw500.notoSerif.italic
        | Skills
      
      h4 Development
      ul.half.mb20
        li Html5, Css3
        li Sass
        li Gulp
        li Git

      ul.half
        li Javascript
        li Jquery
        li AngularJS
        li Beginner React

      h4 Design
      ul.half
        li Adobe Illustrator
        li Adobe Photoshop
        li Adobe XD

    .swipe_portfolio.mb100
      p /work
      .my-gallery.row(itemscope='', itemtype='http://schema.org/ImageGallery')
        figure.item.col-sm-6.col-xs-12(itemprop='associatedMedia', itemscope='', itemtype='http://schema.org/ImageObject')
          // Link to the picture and to open the gallery / Fill up well the data-size property
          a(href='img/project/1.jpg', itemprop='contentUrl', data-size="600x1071" target="_blank")
            // Your picture
            img.img-responsive(src='img/project/1.jpg', itemprop='thumbnail', alt='This is my work')
          // Picture's description below this one
          figcaption(itemprop='caption description')
            .photo-details
              h4 Project1
              p
                | Designed With Adobe Illustrator and Photoshop
        figure.item.col-sm-6.col-xs-12(itemprop='associatedMedia', itemscope='', itemtype='http://schema.org/ImageObject')
          // Link to the picture and to open the gallery / Fill up well the data-size property
          a(href='img/project/2.png', itemprop='contentUrl', data-size='600x1071')
            // Your picture
            img.img-responsive(src='img/project/2.png', itemprop='thumbnail', alt='This is my work')
          // Picture's description below this one
          figcaption(itemprop='caption description')
            .photo-details
              h4 Project 2
              p
                | Tools i use html5, css3, javascript, gulpjs, sass, jade.
       
        figure.item.col-sm-6.col-xs-12(itemprop='associatedMedia', itemscope='', itemtype='http://schema.org/ImageObject')
          // Link to the picture and to open the gallery / Fill up well the data-size property
          a(href='img/project/4.jpg', itemprop='contentUrl', data-size='600x1071')
            // Your picture
            img.img-responsive(src='img/project/4.jpg', itemprop='thumbnail', alt='This is my work')
          // Picture's description below this one
          figcaption(itemprop='caption description')
            .photo-details
              h4 Project 4
              p
              | Tools i use html5 , css3 , javascript, jquery, php.
        figure.item.col-sm-6.col-xs-12(itemprop='associatedMedia', itemscope='', itemtype='http://schema.org/ImageObject')
          // Link to the picture and to open the gallery / Fill up well the data-size property
          a(href='img/project/4.png', itemprop='contentUrl', data-size='600x1071')
            // Your picture
            img.img-responsive(src='img/project/4.png', itemprop='thumbnail', alt='This is my work')
          // Picture's description below this one
          figcaption(itemprop='caption description')
            .photo-details
              h4 Project 5
              p
              | Tools i use html5 , css3 , javascript, jquery, php.
        figure.item.col-sm-6.col-xs-12(itemprop='associatedMedia', itemscope='', itemtype='http://schema.org/ImageObject')
          // Link to the picture and to open the gallery / Fill up well the data-size property
          a(href='img/project/montain.png', itemprop='contentUrl', data-size='1280x853')
            // Your picture
            img.img-responsive(src='img/project/montain.png', itemprop='thumbnail', alt='This is my work')
          // Picture's description below this one
          figcaption(itemprop='caption description')
            .photo-details
              h4 Project 6
              p
              | Designed With Adobe Illustrator and Photoshop.
        figure.item.col-sm-6.col-xs-12(itemprop='associatedMedia', itemscope='', itemtype='http://schema.org/ImageObject')
          // Link to the picture and to open the gallery / Fill up well the data-size property
          a(href='img/project/d-club.png', itemprop='contentUrl', data-size='1280x853')
            // Your picture
            img.img-responsive(src='img/project/d-club.png', itemprop='thumbnail', alt='This is my work')
          // Picture's description below this one
          figcaption(itemprop='caption description')
            .photo-details
              h4 Project 7
              p
              | Designed With Adobe Illustrator and Photoshop.
        figure.item.col-sm-6.col-xs-12(itemprop='associatedMedia', itemscope='', itemtype='http://schema.org/ImageObject')
          // Link to the picture and to open the gallery / Fill up well the data-size property
          a(href='img/project/gmail.png', itemprop='contentUrl', data-size='1280x853')
            // Your picture
            img.img-responsive(src='img/project/gmail.png', itemprop='thumbnail', alt='This is my work')
          // Picture's description below this one
          figcaption(itemprop='caption description')
            .photo-details
              h4 Project 8
              p
              | Designed With Adobe Illustrator and Photoshop.
    #contact.row
      .mb20.col-sm-12
        h2
          strong
            | Get in 
            span.notoSerif.italic.fw500 touch
            | ,
          br
          |  i'd love to hear from you.
      .col-sm-4.col-xs-12.mt30.mb30
        p.col-sm-12.col-xs-6
          strong Address :
          br
          |                   Via Molfetta 
          br
          |                   Rome, Italy 
          br
          |                   
          br
        p.col-sm-12.col-xs-6
          strong Phone: 
          br
          |   #[a(href='mailto:makebyelisi@gmail.com') Request] 
          br
          br
      .col-sm-8.pl0.pr0
        form(class='form', id='contactform', action='//formspree.io/makebyelisi@gmail.com', method='POST')
          
          span.input.input--jiro
            input.input__field.input__field--jiro(type='text')
            label.input__label.input__label--jiro(for='name')
              span.input__label-content.input__label-content--jiro Your Name
          span.input.input--jiro
            input.input__field.input__field--jiro(type='email')
            label.input__label.input__label--jiro(for='email')
              span.input__label-content.input__label-content--jiro Your Email
          span.input.input--jiro
            textarea.input__field.input__field--jiro(type='text')
            label.input__label.input__label--jiro(for='message')
              span.input__label-content.input__label-content--jiro Messagge
         
          span(class='input input--jiro')
            button.btn-solid.pull-right.round Send

    footer.mt70.mb50
      p
        | © 2016 makebyelis with 
        i.ion-heart
        |  and #[a.jekyll(href='https://jekyllrb.com/') Jekyll]
      //
        <div class="social pull-right">
        <i class="up ion-social-facebook"></i>
        <i class="up ion-social-twitter"></i>
        </div>
  // Root element of PhotoSwipe. Must have class pswp.
  .pswp(tabindex='-1', role='dialog', aria-hidden='true')
    //
      Background of PhotoSwipe.
      It's a separate element as animating opacity is faster than rgba().
    .pswp__bg
    // Slides wrapper with overflow:hidden.
    .pswp__scroll-wrap
      //
        Container that holds slides.
        PhotoSwipe keeps only 3 of them in the DOM to save memory.
        Don't modify these 3 pswp__item elements, data is added later on.
      .pswp__container
        .pswp__item
        .pswp__item
        .pswp__item
      // Default (PhotoSwipeUI_Default) interface on top of sliding area. Can be changed.
      .pswp__ui.pswp__ui--hidden
        .pswp__top-bar
          // Controls are self-explanatory. Order can be changed.
          .pswp__counter
          button.pswp__button.pswp__button--close(title='Close (Esc)')
          button.pswp__button.pswp__button--share(title='Share')
          button.pswp__button.pswp__button--fs(title='Toggle fullscreen')
          button.pswp__button.pswp__button--zoom(title='Zoom in/out')
          // Preloader demo http://codepen.io/dimsemenov/pen/yyBWoR
          .pswp__preloader
            .pswp__preloader__icn
              .pswp__preloader__cut
                .pswp__preloader__donut
        .pswp__share-modal.pswp__share-modal--hidden.pswp__single-tap
          .pswp__share-tooltip
        button.pswp__button.pswp__button--arrow--left(title='Previous (arrow left)')
        button.pswp__button.pswp__button--arrow--right(title='Next (arrow right)')
        .pswp__caption
          .pswp__caption__center